<link rel="stylesheet" href="/css/style.css">

<div id=header>
    <h1>
        Follow us on: 
    </h1>
    <ul>
        <li>Instagram</li>
        <li>Telegram</li>
        <li>Vk</li>
        <li>YouTube</li>
    </ul>
</div>